.main-head {
    margin-top: 10em;

    h1 {
        font-weight: 800;
        font-size: 4em;
        padding: 0;
        letter-spacing: -.05em;
        margin: 0;
        line-height:.8;
    }

    p {
        font-family: "DM Serif Text";
        font-weight: 400;
        font-size: 1.25em;
        line-height: .9em;
        margin-top: .35em;
        margin-bottom: 0;
    }
}